<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8.0"
        <meta name="viewport" content="width=width-device,initial-scale=1.0"
        <title>Resgistration form for an event</title>
    </head>
    <body>
        <h2>Register for an event</h2>
        <form method='POST' action='/register'>
            <input type="text" name="name" placeholder="Name" required<br>
            <input type="email" name="email" placeholder="Email" required<br>
            <input type="password" name="password" placeholder="Password" required<br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>